body {
    background-color: #a7a09a;
    margin: 0;
    padding: 0;
    color: #000;
}

html {
    background-color: #a7a09a;
    margin: 0;
    padding: 0;
    color: #000;
}

ul {
    list-style-type: none;
}

#Wrap {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #99c;
}

#Header {
    background-color: #ddd;
    text-align: center;
}

#Nav {
    text-align: center;
    background-color: #c99;
}

#Main {
    background-color: #9c9;
    float: left;
    width: 75vw;
}

#SideBar {
    background-color: #c9c;
    float: right;
    width: 25vw;
}

#Footer {
    clear: both;
    background-color: #cc9;
}

.baseActiveVideo {
    text-align: center;
}

.baseVideoFrame {
    height: 30rem;
    width: 98%;
}

.baseVideoTitle {
    text-align: left;
}

.baseVideoDescription {
    text-align: left;
}

.baseCommentLi {
    margin: 30px auto;
}

.baseCommentUserImage {
    float: left;
    width: 5%;
}

.baseCommentContent {
    float: right;
    width: 95%;
}

.baseCommentContentUserName {
    margin: 0;
}

.baseCommentContentText {
    margin: 0;
}

.baseCommentFooter {
    clear: both;
}
