body {
    background-color: #a7a09a;
    margin: 0;
    padding: 0;
    color: #000;
}

html {
    background-color: #a7a09a;
    margin: 0;
    padding: 0;
    color: #000;
}

#Wrap {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #99c;
}

#Header {
    background-color: #ddd;
    text-align: center;
}

#Nav {
    text-align: center;
    background-color: #c99;
}

#Main {
    background-color: #9c9;
    float: left;
    width: 75vw;
}

#SideBar {
    background-color: #c9c;
    float: right;
    width: 25vw;
}

#Footer {
    clear: both;
    background-color: #cc9;
}

.baseActiveVideo {
    text-align: center;
}

.baseVideoFrame {
    height: 30rem;
    width: 98%;
}
